body {
  font-size: 16px;
  color: #000099;
  background-color: #cccccc;
  font-family: font-family: 'Playfair Display', serif;
}

/** Header **/
#header-nav {
  background-color: #99ffcc;
}
 .navbar-brand {
   padding-top: 25px;
 }

.navbar-brand h1 {
  font-family: 'Special Elite', cursive;
  color: #003300;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  background-color: #ff9900;
}
#nav-list a {
  color: #990000;
}
#nav-list a:hover {
  background: #ff99ff;
}
#nav-list a span {
  font-size: 1.5em;
}

/*main page*/
#content {
  background-color: #ffff99;
  margin-left: 10px;
  margin-right: 10px;
}
